// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #f7b42c;
$color-cream: #d5392d;
$color-grey: #212121;
$color-red: #d5392d;
$header-gradient: linear-gradient(315deg, #ff9f52 0%, #ed2827 74%);

$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-10: 10px;
