@import "variables";

// Container
// *------------------------------------------------*
#main-outlet {
  margin-top: 42px;
  margin-bottom: 50px;
  border-radius: $radius-10;
  width: 100%;
  max-width: 1030px;
  padding: 3em 3em 5%;
  padding-bottom: 5% !important;  
  background: $secondary; 
  background-color: rgba(15,15,15,.95);
}
